body {
  background-color: #7d97ad;
  font-family: Georgia, sans-serif;
}

header {
  width: 100%;
}

main {
  width: 100%;
}

footer {
  width: 100%;
}

img {
  width: inherit;
}

h1 {
}

h2 {}

h3 {}

h4 {}

#headerContainer {
  border: solid blue;
  width: 100%
  object-fit: contain;

}


#headerPicture {
  display: inline-block;
  width: 25%;


}

#headerTitle {
  display: inline-block;

}
/**/
#mainPictureContainer {

}
/**/
#mainPicture {}
/**/
#featuredWorkContainer {

}

.projectBlock {
  display: inline-block;
  width: 33%

}

.projectPhoto {
  width: 33%;

}
