body {
  background-color: #7d97ad;
  font-family: Georgia, sans-serif;
}

header, main, footer {
  width: 100%;
  box-sizing: border-box;
  margin: 1em;
  padding: 1em;
}

img {
  width: inherit;
}

h1 {
}

h2 {}

h3 {}

h4 {}

#headerContainer {
  border: solid blue;
  width: 100%
  object-fit: contain;

}


#headerPicture {
  display: inline-block;
  width: 25%;


}

#headerTitle {
  display: inline-block;

}
/**/
#mainPictureContainer {

}
/**/
#mainPicture {}
/**/
#featuredWorkContainer {

}

.projectBlock {
  display: inline-block;
  width: 33%

}

.projectPhoto {
  width: 33%;

}
