body {
  background-color: #7d97ad;
  font-family: Georgia, sans-serif;
}

header {
  width: 100%;

}

main {
  width: 100%;
}

footer {
  width: 100%;
}

img {

}

h1
/*for all h's: size, text position, color*/
h2

h3

h4

#headerContainer {
  display: flex;
}
/* needs to contain the content, margin, */

#headerPicture {
  width: 25%;
}

#headerTitle {
  width: 75%;
}
/**/
#mainPictureContainer
/**/
#mainPicture
/**/
#featuredWorkContainer {
  display: flex;
  flex-wrap: flex;
}
/**/
.projectPhoto
/**/
/* maybe necessary - if not, delete ID's in html */
#projectOne
#projectTwo
#projectThree
